/*this is the main css of the page*/
html,body {
  height:100%;

}

.full_page{
padding-left: 0px;
padding-right: 0px;
}

/*header information bar*/
.head_info{
  background-color: #eee;
  padding: 5px ;
}
/*the lnk is not working*/
.head_info a{
    display:inline-block;
    width:35px;
    height:35px;
    cursor: pointer;
    background-color:#33383b;
    border-radius:2px;
    font-size:20px;
    color:#ffffff;
    text-align:center;
    line-height:35px;
    margin-right:5px;
    margin-left: 5px;
}
.phone{
float: right;
padding-right: 20px;
}
.phone i{
  padding-right: 10px;
}


.navbar{
 border-radius: 0px;
}

/*page body*/
#about_us h1{
  text-align: center;
  text-transform: uppercase;;
}
section .container{
  width: 960px;


}
section .container h1{
text-align: center;
}
#what_we_do i{
  font-size: 36px;
}

/*footer*/
.footer{
  background-color: black;
  padding: 20px 50px;
  color: white;
}
